<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-img" href="/">
				<img alt="Walgreens" src="./img/logo.png">
			</div>
		</div>
	</div>
</nav>
